/*
@media (prefers-color-scheme: light)
{
	.Nav h1
	{
		background-color: #111;
		color: #ddd;
	}

	body
	{
		background-color: #ddd;
		color: #111;
	}
	.h
	{	
		border-bottom: 2px #111 dotted;
	}
	.list
	{
		border: black solid 1px;
	}
}
*/
