body
{
	background-color: #282c34;
	color: white;
	font-size: 12pt;
	margin-left: 20vh;
	margin-right: 20vh;
}

img
{
	padding: 20px;
}

.listing
{
	border: grey solid 1px;
	padding: 10px;
	top: 3;
	width: 100px;
	display: flex;
	flex-direction: column-reverse;
}

.listing li
{
	border: none;
}

.NavLinks
{
	margin: 0;
	padding: 0;
	display: flex;
	text-align: center;
	list-style: none;
	justify-content: space-evenly;
}

.NavLink a
{
	color:black;
	text-decoration: none;
	background-color: white;
	color: black;
	padding: 10px;
}

.NavLink a:hover
{
	background-color: black;
	color: white;
}
