<!DOCTYPE html>

<html>
	<head>
		<title>The librerpi project</title>
		<link rel="stylesheet" href="style.css" />
		<link rel="stylesheet" href="1337box/1337box.css">
	</head>
	<body>
		<div class="Nav">
			<h1>The librerpi project</h1>
			<ul class="NavLinks">
				<li class="NavLink"><a href="http://github.com/librerpi/lk-overlay">Source Code</a></li>
				<li class="NavLink"><a href="http://github.com/librerpi/librerpi.github.io">Improve the website</a></li>
				<li class="NavLink"><a href="http://github.com/librerpi/rpi-open-firmware">Old codebase</a></li>
			</ul>
		</div>
