<!DOCTYPE html>

<html>
<head>
<title>The librerpi project</title>
<link rel="stylesheet" href="1337box/1337box.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
</head>

<body>
<div class="Nav">
<h1>The librerpi project</h1>
<ul class="NavLinks">
<li class="NavLink"><a href="https://github.com/librerpi/lk-overlay">Main git repository</a></li>
<li class="NavLink"><a href="https://github.com/librerpi/librerpi.github.io">Edit the website</a></li>
<li class="NavLink"><a href="https://libera.irclog.whitequark.org/~h~raspberrypi-internals">IRC logs</a></li>
<li class="NavLink"><a href="https://hydra.angeldsis.com/jobset/things/littlekernel-overlay#tabs-jobs">CI builds</a></li>
</ul>
</div>
